<div class="toolbarTabs">
    <div id="torrentFilesFilterToolbar" class="invisible">
        <input type="text" id="torrentFilesFilterInput" placeholder="Filtrar arquivos..." autocorrect="off" autocapitalize="none" />
    </div>
    <ul id="propertiesTabs" class="tab-menu">
        <li id="PropGeneralLink" class="selected"><a>Geral</a></li>
        <li id="PropTrackersLink"><a>Trackers</a></li>
        <li id="PropPeersLink"><a>Peers</a></li>
        <li id="PropWebSeedsLink"><a>Fontes HTTP</a></li>
        <li id="PropFilesLink"><a>Conteúdo</a></li>
    </ul>
    <div class="clear"></div>
</div>
