<div id="statisticsContent">
    <h3>Estatísticas do usuário</h3>
    <table style="width:100%">
        <tr>
            <td>Upload de todos os tempos:</td>
            <td id="AlltimeUL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Download de todos os tempos:</td>
            <td id="AlltimeDL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Proporção do compartilhamento de todos os tempos:</td>
            <td id="GlobalRatio" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Perdas da sessão:</td>
            <td id="TotalWastedSession" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Peers conectados:</td>
            <td id="TotalPeerConnections" class="statisticsValue"></td>
        </tr>
    </table>
    <h3>Estatísticas do cache</h3>
    <table style="width:100%">
        <tr>
            <td>Acertos do cache de leitura:</td>
            <td id="ReadCacheHits" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Tamanho total do buffer:</td>
            <td id="TotalBuffersSize" class="statisticsValue"></td>
        </tr>
    </table>
    <h3>Estatísticas da performance</h3>
    <table style="width:100%">
        <tr>
            <td>Sobrecarga do cache da gravação:</td>
            <td id="WriteCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Sobrecarga do cache de leitura:</td>
            <td id="ReadCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Trabalhos de E/S na fila:</td>
            <td id="QueuedIOJobs" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Tempo médio na fila:</td>
            <td id="AverageTimeInQueue" class="statisticsValue"></td>
        </tr>
        <tr>
            <td>Tamanho total na fila:</td>
            <td id="TotalQueuedSize" class="statisticsValue"></td>
        </tr>
    </table>
</div>